<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My CV</title>
</head>
<body style="margin-left: 100px;margin-top: 100px; ">
    <div>
        <img src="../img/cv.jpg" style="width: 10%;height: 10%;">
        <span style="display: inline-block;margin-left: 100px;">
            <h2>Nguyễn Anh Thắng</h2>
                Nhân viên kinh doanh<br>
                Ngày sinh:  03/01/1990<br>
                Giới tính:  Nam<br>
                Điện thoại:  01234567891<br>
                Email:  anhthang3011@gmail.com<br>
                Địa chỉ:  Hà Nội<br>
        </span>
    </div>
    <div>
        <h2>MỤC TIÊU NGHỀ NGHIỆP</h2>
        <hr>
        <p>
            Áp dụng những kinh nghiệm về kỹ năng bán hàng và sự hiểu biết về thị trường để trở thành một nhân viên bán<br>
            hàng chuyên nghiệp, mang đến nhiều giá trị cho khách hàng. Từ đó giúp Công ty tăng số lượng khách hàng và mở<br>
            rộng khách hàng.<br>
            Không ngừng nghiên cứu để nâng cao kiến thức<br>
            Mong muốn được làm việc trong môi trường chuyên nghiệp để từ đó trau dồi và tích luỹ kinh nghiệm phục vụ<br>
            cho việc hoàn thiện các kỹ năng của bản thân.<br>
        </p><br>
    </div>
    <div>
        <h2>HỌC VẤN</h2>
        <hr>
        <p style="float: left;">
            2012-2016
        </p>
        <p style="margin-left: 200px;">
            <span style="font-weight: bold;">Đại học Công Đoàn</span><br>
            Chuyên ngành: Tài chính- Ngân hàng<br>
            Tốt nghiệp loại Khá, điểm trung bình 6.82/10
        </p>
        <p style="float: left;">
            2016-nay
        </p>
        <p style="margin-left: 200px;">
            Hiện đang theo học tại FPT Aptech<br>
            Hệ thống đào tạo lập trình viên quốc tế.
        </p><br>
    </div>
    <div>
        <h2>KINH NGHIỆM LÀM VIỆC</h2>
        <hr>
        <p style="float: left;">
            2014-2015
        </p>
        <p style="margin-left: 200px;">
            <span style="font-weight: bold;">Làm việc tự do</span><br>
            Từng đi bê tráp và phục vụ bàn nhiều nơi
        </p>
        <p style="float: left;">
            2015 - 2016
        </p>
        <p style="margin-left: 200px;">
            Cửa hàng Cafe Voi<br>
            Nhân viên pha chế<br>
            - Pha chế đồ uống nhằm phục vụ khách hàng<br>
            - Bán các sản phẩm cafe hạt của cửa hàng tới những khách hàng có nhu cầu<br>
            - Lập báo cáo sản lượng bán ra hàng ngày.
        </p><br>
    </div>
    <div>
        <h2>CHỨNG CHỈ</h2>
        <hr>
        <p style="float: left;">
            2016
        </p>
        <p style="margin-left: 200px;">
            Giấy chứng nhận TOEIC 935
        </p><br>
    </div>
    <div>
        <h2>CÁC KỸ NĂNG</h2>
        <hr>
        <p>
            Tiếng Anh
            : Khả năng sử dụng Tiếng Anh tốt
        </p>
        <p>
            Giao tiếp:
             Khả năng trình bày vấn đề mạch lạc ,tự tin trước đám đông
        </p>
        <p>
            Làm việc nhóm:
             Phối hợp cùng các thành viên trong nhóm để hoàn thành công việc nhằm đạt được kết quả tốt nhất
        </p><br>
    </div>
    <div>
        <h2>SỞ THÍCH</h2>
        <hr>
        -Đọc sách<br>
        -Nghe nhạc + xem phim<br>
        -Chơi các bộ môn thể thao rèn luyện cơ thể : Đá bóng ,tập Gym v.v.....<br>
        -Chơi 1 số trò chơi máy tính<br>
    </div>
</body>
</html>
